body {
  --border-color: #d5d6d7;
  --primary-color: rgb(250, 165, 6);
  --secondary-color: #082661;
  background-color: #082661;
}

.map__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel {
  display: block;
  height: 600px;
  width: 90%;
  justify-content: center;
  border: var(--border-color);
  border-style: ridge;
  border-width: 2rem;
  margin: 2rem;
}

a {
  display: flex;
  align-self: center;
  padding: 10px;
}


h1 {
  text-align: center;
  font-family: monospace;
  text-size-adjust: 3rem;
  color: var(--primary-color);
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center, space-around;
}

img {
  display: block;
  height: 80px;
  width: 60px;
}

/* styling the prompt text */
.prompt-text {
  font-family: 'Your Custom Font', sans-serif;
  font-size: 16px; 
  color: #333; 
}

