.div {
  display: block;
  justify-self: center;
  align-content: column;
  size-adjust: 5px;
}

h1 {
  text-align: center;
  font-family: monospace;
  color: rgb(17, 16, 16);
}

.container {
  display: flex;
  justify-content: center, space-evenly;
  justify-items: center;
}


#map {
  display: block;
  height: 800px;
}

/* styling the prompt text */
.prompt-text {
  font-family: 'Your Custom Font', sans-serif;
  font-size: 16px; 
  color: #333; 
}

