body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a {
  display: flex;
  align-self: center;
  padding: 10px;
}

.leaflet-pane {
  display: block;
  margin: 5rem;
}


button {
  display: auto;
}

h1 {
  text-align: center;
  font-family: monospace;
  color: rgb(17, 16, 16);
}

.panel {
  display: block;
  height: 800px;
  width: 100%;
}

/* styling the prompt text */
.prompt-text {
  font-family: 'Your Custom Font', sans-serif;
  font-size: 16px; 
  color: #333; 
}

