.div {
  display: block;
  justify-self: center;
  align-content: column;
  size-adjust: 5px;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center, space-evenly;
  justify-items: center;
}


#map {
  display: block;
  height: 800px;
}

